# Assignment 2 Solutions
---
**Name:** Muganga Charles  
**Access No.:** B35391

**Course:** Object Oriented Programming with Python

#### Question One: Electricity billing optimization

In [1]:
#### generated sample data
customers = ['Bosco', 'Jane', 'Isaac', 'Maria', 'Paul', 'Sarah', 'Peter', 'Aisha', 'Mark', 'Grace']
units = [245, 600, 480, 700, 520, 340, 800, 260, 430, 620]
connection_types = ['Domestic', 'Commercial', 'Domestic', 'Commercial', 'Commercial',
                    'Domestic', 'Commercial', 'Domestic', 'Domestic', 'Commercial']

#### 1.1 computing total bills using zip() and map() with a lambda

In [2]:
rates = {'Domestic': 820, 'Commercial': 1000}
bills = list(map(lambda x: x[1] * rates[x[2]], zip(customers, units, connection_types)))

####  1.2 filtering high-consumption customers (with units > 500)

In [3]:
high_consumers = list(filter(lambda u: u > 500, units))

#### 1.3 Average bill function using *args

In [4]:
def average_bill(*bills):
    return sum(bills) / len(bills)

avg = average_bill(*bills)
avg

467910.0

#### 1.4 Displaying the formatted results

In [7]:
formatted = [f"{name}: UGX {bill:,}" for name, bill in zip(customers, bills)]
print("Customer Bills:")
for f in formatted:
    print(f)
print("\n")
print("High Consumption (>500 units):", high_consumers)
print("Average Bill: UGX", f"{avg:,.0f}")

Customer Bills:
Bosco: UGX 200,900
Jane: UGX 600,000
Isaac: UGX 393,600
Maria: UGX 700,000
Paul: UGX 520,000
Sarah: UGX 278,800
Peter: UGX 800,000
Aisha: UGX 213,200
Mark: UGX 352,600
Grace: UGX 620,000


High Consumption (>500 units): [600, 700, 520, 800, 620]
Average Bill: UGX 467,910

### Question 2: Market basket price aggregator

In [8]:
mango_prices = [2500, 2700, 2600, 2800]
orange_prices = [3000, 3200, 3100, 3050]
apple_prices = [4500, 4600, 4550, 4700]

#### 2.1 using zip_longest() to handle missing prices

In [9]:
from itertools import zip_longest

for combo in zip_longest(mango_prices, orange_prices, apple_prices, fillvalue='N/A'):
    print(combo)

(2500, 3000, 4500)
(2700, 3200, 4600)
(2600, 3100, 4550)
(2800, 3050, 4700)

#### 2.2 Computing average price per fruit

In [11]:
avg = lambda lst: sum(lst)/len(lst)

fruit_avgs = {
    "Mango": avg(mango_prices),
    "Orange": avg(orange_prices),
    "Apple": avg(apple_prices)
}

fruit_avgs

{'Mango': 2650.0, 'Orange': 3087.5, 'Apple': 4587.5}

#### 2.3 A generator for fruits above average price > 3000

In [14]:
above_avg = (fruit for fruit, price in fruit_avgs.items() if price > 3000)

print("Fruits above average price:", ", ".join(list(above_avg)))

Fruits above average price: Orange, Apple

#### Question 3: District temperature tracker

In [15]:

months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28]
gulu =  [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25] 
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]

#### 3.1 Converting all the temperatures to Fahrenheit using map

In [ ]:
kampala_f = list(map(lambda c: (c * 9/5) + 32, kampala))
gulu_f = list(map(lambda c: (c * 9/5) + 32, gulu))
mbarara_f = list(map(lambda c: (c * 9/5) + 32, mbarara))

print("Kampala temperatures in Fahrenheit:", kampala_f)
print("Gulu temperatures in Fahrenheit:", gulu_f)
print("Mbarara temperatures in Fahrenheit:", mbarara_f)

Kampala temperatures in Fahrenheit: [82.4, 86.0, 84.2, 80.6, 78.8, 84.2, 86.0, 87.8, 89.6, 86.0, 84.2, 82.4]
Gulu temperatures in Fahrenheit: [77.0, 78.8, 80.6, 80.6, 82.4, 84.2, 86.0, 86.0, 84.2, 80.6, 78.8, 77.0]
Mbarara temperatures in Fahrenheit: [71.6, 73.4, 73.4, 75.2, 77.0, 77.0, 78.8, 80.6, 80.6, 78.8, 75.2, 73.4]

#### 3.2 Pair months with temps

In [19]:
month_temp_pairs = list(zip(months, kampala))
print("Month-Temperature pairs:", month_temp_pairs)

Month-Temperature pairs: [('Jan', 28), ('Feb', 30), ('Mar', 29), ('Apr', 27), ('May', 26), ('Jun', 29), ('Jul', 30), ('Aug', 31), ('Sep', 32), ('Oct', 30), ('Nov', 29), ('Dec', 28)]

#### 3.3 Filter months > 30°C

In [20]:
hot_months = list(filter(lambda pair: pair[1] > 30, month_temp_pairs))
print("\nMonths with temperature > 30°C:", hot_months)

Months with temperature > 30°C: [('Aug', 31), ('Sep', 32)]

#### 3.4 Creating a generator to yield month names and temperatures above threshold.

In [22]:
def hot_months_generator(month_temp_pairs, threshold=30):
    for month, temp in month_temp_pairs:
        if temp > threshold:
            yield month, temp

#### 3.5 Printing the Hot months in Kampala.

In [23]:
hot_months_gen = hot_months_generator(month_temp_pairs)
hot_list = [f"{month} - {temp}°C" for month, temp in hot_months_gen]

if hot_list:
    print("\nHot months in Kampala:", ", ".join(hot_list))
else:
    print("\nNo months above 30°C")

Hot months in Kampala: Aug - 31°C, Sep - 32°C

### Q4: School Fees payment analyzer

In [24]:
students = ['Alex', 'Grace', 'Sarah', 'Brian']
installments = [
    [150000, 200000, 250000],
    [500000, 0, 200000],
    [300000, 300000, 300000],
    [400000, 100000, 0]
]

#### 4.1 Using Lambda to sum valid payments and ignoring zeros

In [25]:
valid_sum = lambda lst: sum(x for x in lst if x > 0)

### 4.2 Using map() to compute totals for each student

In [27]:
totals = list(map(valid_sum, installments))
totals

[600000, 700000, 900000, 500000]

#### 4.3 Combining names and totals using zip()

In [29]:
records = list(zip(students, totals))
records

[('Alex', 600000), ('Grace', 700000), ('Sarah', 900000), ('Brian', 500000)]

#### 4.4 Filtering cleared students (≥600,000).

In [31]:
cleared = list(filter(lambda s: s[1] >= 600000, records))
cleared

[('Alex', 600000), ('Grace', 700000), ('Sarah', 900000)]

#### 4.5 payment_summary(**kwargs) function to summarize payments

In [32]:
def payment_summary(**kwargs):
    for name, amount in kwargs.items():
        print(f"{name} paid UGX {amount:,}")

payment_summary(**dict(records))

print("\nCleared Students:", cleared)

Alex paid UGX 600,000
Grace paid UGX 700,000
Sarah paid UGX 900,000
Brian paid UGX 500,000

Cleared Students: [('Alex', 600000), ('Grace', 700000), ('Sarah', 900000)]

### Question 5: Agricultural yield estimator

In [34]:
## data

districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale']
yield_data = [1200, 1500, 900, 1300]

### 5.1 Converting kg to tons (using 1 ton = 1000 kg)

In [37]:
to_tons = lambda kg: kg / 1000
tons = [to_tons(y) for y in yield_data]
tons

[1.2, 1.5, 0.9, 1.3]

#### 5.2 Generator for >1 ton

In [43]:
above_one = (d for d, t in zip(districts, tons) if t > 1)

#### 5.3 Average yield computation using *args

In [41]:
def avg_yield(*args):
    return sum(args)/len(args)

average = avg_yield(*tons)
average

1.225

#### 5.4 Revenue computation using **kwargs

In [44]:
def compute_revenue(**kwargs):
    for district, (tons, price) in kwargs.items():
        print(f"{district} produced {tons} tons — Revenue: UGX {tons * price:,.0f}")

price_updates = {'Bushenyi': (tons[0], 4000000), 'Mityana': (tons[1], 3800000),
                 'Kasese': (tons[2], 5000000), 'Mbale': (tons[3], 4200000)}

#### 5.5 Displaying the results in formatted manner

In [45]:

print("Average Yield:", round(avg, 2), "tons")
compute_revenue(**price_updates)

Average Yield: 1.23 tons
Bushenyi produced 1.2 tons — Revenue: UGX 4,800,000
Mityana produced 1.5 tons — Revenue: UGX 5,700,000
Kasese produced 0.9 tons — Revenue: UGX 4,500,000
Mbale produced 1.3 tons — Revenue: UGX 5,460,000

## Q6: Web data aggregation

In [46]:
import requests
sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

#### 6.1 A function that takes *urls and uses requests.get() to return response codes.

In [50]:
def check_sites(*urls):
    responses = []
    for url in urls:
        try:
            r = requests.get(url, timeout=5)
            responses.append((url, r.status_code))
        except Exception as e:
            responses.append((url, 'Error'))
    return responses

results = check_sites(*sites)
results

[('https://ucu.ac.ug', 200),
 ('https://harba.ug', 200),
 ('https://www.bou.or.ug', 200)]

### 6.2 filtering status 200

In [49]:

active_sites = [url for url, code in results if code == 200]
active_sites

['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

####  6.3 Dictionary comprehension

In [52]:
status_dict = {url: code for url, code in results}
status_dict

{'https://ucu.ac.ug': 200,
 'https://harba.ug': 200,
 'https://www.bou.or.ug': 200}

#### 6.4 Generator for 'Active Site' display

In [55]:
active_gen = (f"Active Site: {url}" for url in active_sites)

print("Status Codes:", status_dict)
print("\n".join(list(active_gen)))

Status Codes: {'https://ucu.ac.ug': 200, 'https://harba.ug': 200, 'https://www.bou.or.ug': 200}
Active Site: https://ucu.ac.ug
Active Site: https://harba.ug
Active Site: https://www.bou.or.ug